@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  font-family: "Lora", serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

h1 {
  margin: 1.5rem 0 1rem;
}

button {
  height: 2rem;
  margin: 1.6rem 1rem;
  padding: 0.1rem 0.5rem;
}

.options,
.locale,
.login {
  display: flex;
  flex-direction: row;
}

.options {
  width: 100vw;
  margin: -4rem 2rem 0 0;
  justify-content: flex-end;
  align-items: center;
}

.locale {
  width: 6rem;
  justify-content: space-between;
}

.login {
  width: 11rem;
  justify-content: flex-end;
}

.avatar {
  width: 4rem;
}

.avatar img {
  border-radius: 4rem;
  width: 4rem;
  height: auto;
}

.card {
  width: 40rem;
  margin: 5rem 0;
  border: 1px solid black;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header,
.info {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.info {
  justify-content: flex-start;
}

.info ul {
  font-size: 1.4rem;
  line-height: 2rem;
  margin: 7rem 0 0 3rem;
}

.imgCont {
  width: 50%;
  display: flex;
  justify-content: center;
}

img {
  height: 250px;
}

.desc {
  white-space: pre-wrap;
  padding: 1.4rem;
  font-size: 1.1rem;
  text-indent: 2.2rem;
}
